/* Palette */
.blue-0 {
  color: #e9f0fe;
}

.blue-10 {
  color: #d4e0fe;
}

.blue-20 {
  color: #b0cdff;
}

.blue-30 {
  color: #7da3fb;
}

.blue-40 {
  color: #5185fa;
}

.blue-50 {
  color: #2666f9;
}

.blue-60 {
  color: #1c53e9;
}

.blue-70 {
  color: #1643d5;
}

.blue-80 {
  color: #1335bf;
}

.blue-90 {
  color: #122aa6;
}

.blue-100 {
  color: #11228c;
}

.blue-main {
  color: #2666f9;
}

.blue-light {
  color: #d4e0fe;
}

.blue-dark {
  color: #11228c;
}

.blue-contrastText {
  color: #11228c;
}

.purple-0 {
  color: #f3effb;
}

.purple-10 {
  color: #e7e0f9;
}

.purple-20 {
  color: #d0c1f2;
}

.purple-30 {
  color: #b8a1ec;
}

.purple-40 {
  color: #a182e5;
}

.purple-50 {
  color: #855ede;
}

.purple-60 {
  color: #763ed2;
}

.purple-70 {
  color: #6a23c0;
}

.purple-80 {
  color: #5f11a7;
}

.purple-90 {
  color: #530587;
}

.purple-100 {
  color: #440066;
}

.purple-main {
  color: #d0c1f2;
}

.purple-light {
  color: #e7e0f9;
}

.purple-dark {
  color: #a182e5;
}

.purple-contrastText {
  color: #440066;
}

.red-0 {
  color: #fff2f2;
}

.red-10 {
  color: #fdbbbc;
}

.red-20 {
  color: #fa8688;
}

.red-30 {
  color: #f5575a;
}

.red-40 {
  color: #ed3036;
}

.red-50 {
  color: #e4131b;
}

.red-60 {
  color: #d70009;
}

.red-70 {
  color: #c7000a;
}

.red-80 {
  color: #b3000b;
}

.red-90 {
  color: #9e000c;
}

.red-100 {
  color: #87000b;
}

.red-main {
  color: #e4131b;
}

.red-light {
  color: #fdbbbc;
}

.red-dark {
  color: #87000b;
}

.red-contrastText {
  color: #87000b;
}

.orange-0 {
  color: #fff0ec;
}

.orange-10 {
  color: #ffe2da;
}

.orange-20 {
  color: #ffc6b5;
}

.orange-30 {
  color: #ffa98f;
}

.orange-40 {
  color: #ff8d6a;
}

.orange-50 {
  color: #ff7045;
}

.orange-60 {
  color: #f35e2c;
}

.orange-70 {
  color: #e6511a;
}

.orange-80 {
  color: #d6480d;
}

.orange-90 {
  color: #c44105;
}

.orange-100 {
  color: #b33b00;
}

.orange-main {
  color: #ff7045;
}

.orange-light {
  color: #ffe2da;
}

.orange-dark {
  color: #b33b00;
}

.orange-contrastText {
  color: #b33b00;
}

.green-0 {
  color: #e9f8ee;
}

.green-10 {
  color: #d5f2de;
}

.green-20 {
  color: #abe5bc;
}

.green-30 {
  color: #80d99b;
}

.green-40 {
  color: #56cc79;
}

.green-50 {
  color: #2cbf58;
}

.green-60 {
  color: #1cad3a;
}

.green-70 {
  color: #129922;
}

.green-80 {
  color: #0a830e;
}

.green-90 {
  color: #0a6b04;
}

.green-100 {
  color: #0d5400;
}

.green-main {
  color: #2cbf58;
}

.green-light {
  color: #d5f2de;
}

.green-dark {
  color: #0d5400;
}

.green-contrastText {
  color: #0d5400;
}

.black-0 {
  color: #f3f4f5;
}

.black-10 {
  color: #e7e9eb;
}

.black-20 {
  color: #d0d3d8;
}

.black-30 {
  color: #b8bdc5;
}

.black-40 {
  color: #a1a7b2;
}

.black-50 {
  color: #8a919e;
}

.black-60 {
  color: #737c8b;
}

.black-70 {
  color: #5b6577;
}

.black-80 {
  color: #445065;
}

.black-90 {
  color: #2c3951;
}

.black-100 {
  color: #15243e;
}

.black-main {
  color: #e7e9eb;
}

.black-light {
  color: #f3f4f5;
}

.black-dark {
  color: #445065;
}

.black-contrastText {
  color: #15243e;
}

.teal-0 {
  color: #e5fbf8;
}

.teal-10 {
  color: #ccf8f2;
}

.teal-20 {
  color: #99f2e4;
}

.teal-30 {
  color: #66ebd7;
}

.teal-40 {
  color: #33e5c9;
}

.teal-50 {
  color: #00debc;
}

.teal-60 {
  color: #00d1b4;
}

.teal-70 {
  color: #00c1a9;
}

.teal-80 {
  color: #00ad9a;
}

.teal-90 {
  color: #009788;
}

.teal-100 {
  color: #007e73;
}

.teal-main {
  color: #33e5c9;
}

.teal-light {
  color: #e5fbf8;
}

.teal-dark {
  color: #007e73;
}

.teal-contrastText {
  color: #007e73;
}

.pink-0 {
  color: #fee9f0;
}

.pink-10 {
  color: #fed3e3;
}

.pink-20 {
  color: #fda7c6;
}

.pink-30 {
  color: #fc7caa;
}

.pink-40 {
  color: #fb508d;
}

.pink-50 {
  color: #e4126f;
}

.pink-60 {
  color: #c9076e;
}

.pink-70 {
  color: #aa0269;
}

.pink-80 {
  color: #8f005a;
}

.pink-90 {
  color: #89005f;
}

.pink-100 {
  color: #660050;
}

.pink-main {
  color: #fb508d;
}

.pink-light {
  color: #fee9f0;
}

.pink-dark {
  color: #660050;
}

.pink-contrastText {
  color: #660050;
}

.yellow-0 {
  color: #fffbe5;
}

.yellow-10 {
  color: #fff7cc;
}

.yellow-20 {
  color: #ffef99;
}

.yellow-30 {
  color: #ffe866;
}

.yellow-40 {
  color: #ffe033;
}

.yellow-50 {
  color: #ffd800;
}

.yellow-60 {
  color: #f3cb00;
}

.yellow-70 {
  color: #e6bd00;
}

.yellow-80 {
  color: #d6ad00;
}

.yellow-90 {
  color: #c49c00;
}

.yellow-100 {
  color: #b38c00;
}

.yellow-main {
  color: #ffe033;
}

.yellow-light {
  color: #fffbe5;
}

.yellow-dark {
  color: #b38c00;
}

.yellow-contrastText {
  color: #b38c00;
}

.common-white {
  color: #ffffff;
}

.common-black {
  color: #15243e;
}

.common-asphalt {
  color: #66708e;
}

.common-nightShade {
  color: #081340;
}

.common-invocaGreen {
  color: #00B388;
}

.common-lightGrey {
  color: #f5f6fa;
}

.common-disabled {
  color: #e7e9eb;
}

.white {
  color: #ffffff;
}

.asphalt {
  color: #66708e;
}

.invoca-green {
  color: #00B388;
}

.night-shade {
  color: #081340;
}

.light-grey {
  color: #f5f6fa;
}

/* Semantic Tokens */
.link-hover {
  color: #122aa6;
}

.link-visited {
  color: #1c53e9;
}

.link-default {
  color: #1c53e9;
}

.background-info {
  background-color: #2666f9;
}

.background-error {
  background-color: #e4131b;
}

.background-success {
  background-color: #2cbf58;
}

.background-disabled {
  background-color: #e7e9eb;
}

.background-view-background {
  background-color: #f5f6fa;
}

.background-default {
  background-color: #ffffff;
}

.background-hover {
  background-color: #d4e0fe;
}

.background-warning {
  background-color: #ff7045;
}

.background-error-alt {
  background-color: #fdbbbc;
}

.background-selected {
  background-color: #d4e0fe;
}

.background-warning-alt {
  background-color: #ffe2da;
}

.background-info-alt {
  background-color: #d4e0fe;
}

.background-success-alt {
  background-color: #d5f2de;
}

.background-pressed {
  background-color: #b0cdff;
}

.icon-warning {
  color: #ff7045;
}

.icon-disabled {
  color: #a1a7b2;
}

.icon-info {
  color: #2666f9;
}

.icon-success {
  color: #2cbf58;
}

.icon-invert {
  color: #ffffff;
}

.icon-default {
  color: #66708e;
}

.icon-warning-alt {
  color: #b33b00;
}

.icon-info-alt {
  color: #11228c;
}

.icon-selected {
  color: #2666f9;
}

.icon-success-alt {
  color: #0d5400;
}

.icon-error {
  color: #e4131b;
}

.icon-error-alt {
  color: #87000b;
}

.overlay-default {
  color: rgba(21, 36, 62, 0.3000);
}

.border-warning {
  color: #ff7045;
}

.border-error {
  color: #e4131b;
}

.border-info {
  color: #2666f9;
}

.border-success {
  color: #2cbf58;
}

.border-default {
  color: #e7e9eb;
}

.border-disabled {
  color: #d0d3d8;
}

.text-error-alt {
  color: #87000b;
}

.text-info {
  color: #2666f9;
}

.text-warning {
  color: #ff7045;
}

.text-success-alt {
  color: #0d5400;
}

.text-success {
  color: #2cbf58;
}

.text-secondary {
  color: #5b6577;
}

.text-info-alt {
  color: #11228c;
}

.text-invert {
  color: #ffffff;
}

.text-warning-alt {
  color: #b33b00;
}

.text-error {
  color: #e4131b;
}

.text-primary {
  color: #15243e;
}

.text-disabled {
  color: #a1a7b2;
}

/* Spacing Tokens */
.margin-1 {
  margin: 0.125rem;
}

.margin-top-1 {
  margin-top: 0.125rem;
}

.margin-right-1 {
  margin-right: 0.125rem;
}

.margin-bottom-1 {
  margin-bottom: 0.125rem;
}

.margin-left-1 {
  margin-left: 0.125rem;
}

.padding-1 {
  padding: 0.125rem;
}

.padding-top-1 {
  padding-top: 0.125rem;
}

.padding-right-1 {
  padding-right: 0.125rem;
}

.padding-bottom-1 {
  padding-bottom: 0.125rem;
}

.padding-left-1 {
  padding-left: 0.125rem;
}

.margin-2 {
  margin: 0.25rem;
}

.margin-top-2 {
  margin-top: 0.25rem;
}

.margin-right-2 {
  margin-right: 0.25rem;
}

.margin-bottom-2 {
  margin-bottom: 0.25rem;
}

.margin-left-2 {
  margin-left: 0.25rem;
}

.padding-2 {
  padding: 0.25rem;
}

.padding-top-2 {
  padding-top: 0.25rem;
}

.padding-right-2 {
  padding-right: 0.25rem;
}

.padding-bottom-2 {
  padding-bottom: 0.25rem;
}

.padding-left-2 {
  padding-left: 0.25rem;
}

.margin-3 {
  margin: 0.5rem;
}

.margin-top-3 {
  margin-top: 0.5rem;
}

.margin-right-3 {
  margin-right: 0.5rem;
}

.margin-bottom-3 {
  margin-bottom: 0.5rem;
}

.margin-left-3 {
  margin-left: 0.5rem;
}

.padding-3 {
  padding: 0.5rem;
}

.padding-top-3 {
  padding-top: 0.5rem;
}

.padding-right-3 {
  padding-right: 0.5rem;
}

.padding-bottom-3 {
  padding-bottom: 0.5rem;
}

.padding-left-3 {
  padding-left: 0.5rem;
}

.margin-4 {
  margin: 0.75rem;
}

.margin-top-4 {
  margin-top: 0.75rem;
}

.margin-right-4 {
  margin-right: 0.75rem;
}

.margin-bottom-4 {
  margin-bottom: 0.75rem;
}

.margin-left-4 {
  margin-left: 0.75rem;
}

.padding-4 {
  padding: 0.75rem;
}

.padding-top-4 {
  padding-top: 0.75rem;
}

.padding-right-4 {
  padding-right: 0.75rem;
}

.padding-bottom-4 {
  padding-bottom: 0.75rem;
}

.padding-left-4 {
  padding-left: 0.75rem;
}

.margin-5 {
  margin: 1rem;
}

.margin-top-5 {
  margin-top: 1rem;
}

.margin-right-5 {
  margin-right: 1rem;
}

.margin-bottom-5 {
  margin-bottom: 1rem;
}

.margin-left-5 {
  margin-left: 1rem;
}

.padding-5 {
  padding: 1rem;
}

.padding-top-5 {
  padding-top: 1rem;
}

.padding-right-5 {
  padding-right: 1rem;
}

.padding-bottom-5 {
  padding-bottom: 1rem;
}

.padding-left-5 {
  padding-left: 1rem;
}

.margin-6 {
  margin: 1.5rem;
}

.margin-top-6 {
  margin-top: 1.5rem;
}

.margin-right-6 {
  margin-right: 1.5rem;
}

.margin-bottom-6 {
  margin-bottom: 1.5rem;
}

.margin-left-6 {
  margin-left: 1.5rem;
}

.padding-6 {
  padding: 1.5rem;
}

.padding-top-6 {
  padding-top: 1.5rem;
}

.padding-right-6 {
  padding-right: 1.5rem;
}

.padding-bottom-6 {
  padding-bottom: 1.5rem;
}

.padding-left-6 {
  padding-left: 1.5rem;
}

.margin-7 {
  margin: 2rem;
}

.margin-top-7 {
  margin-top: 2rem;
}

.margin-right-7 {
  margin-right: 2rem;
}

.margin-bottom-7 {
  margin-bottom: 2rem;
}

.margin-left-7 {
  margin-left: 2rem;
}

.padding-7 {
  padding: 2rem;
}

.padding-top-7 {
  padding-top: 2rem;
}

.padding-right-7 {
  padding-right: 2rem;
}

.padding-bottom-7 {
  padding-bottom: 2rem;
}

.padding-left-7 {
  padding-left: 2rem;
}

.margin-8 {
  margin: 2.5rem;
}

.margin-top-8 {
  margin-top: 2.5rem;
}

.margin-right-8 {
  margin-right: 2.5rem;
}

.margin-bottom-8 {
  margin-bottom: 2.5rem;
}

.margin-left-8 {
  margin-left: 2.5rem;
}

.padding-8 {
  padding: 2.5rem;
}

.padding-top-8 {
  padding-top: 2.5rem;
}

.padding-right-8 {
  padding-right: 2.5rem;
}

.padding-bottom-8 {
  padding-bottom: 2.5rem;
}

.padding-left-8 {
  padding-left: 2.5rem;
}

.margin-9 {
  margin: 3rem;
}

.margin-top-9 {
  margin-top: 3rem;
}

.margin-right-9 {
  margin-right: 3rem;
}

.margin-bottom-9 {
  margin-bottom: 3rem;
}

.margin-left-9 {
  margin-left: 3rem;
}

.padding-9 {
  padding: 3rem;
}

.padding-top-9 {
  padding-top: 3rem;
}

.padding-right-9 {
  padding-right: 3rem;
}

.padding-bottom-9 {
  padding-bottom: 3rem;
}

.padding-left-9 {
  padding-left: 3rem;
}

.margin-10 {
  margin: 3.5rem;
}

.margin-top-10 {
  margin-top: 3.5rem;
}

.margin-right-10 {
  margin-right: 3.5rem;
}

.margin-bottom-10 {
  margin-bottom: 3.5rem;
}

.margin-left-10 {
  margin-left: 3.5rem;
}

.padding-10 {
  padding: 3.5rem;
}

.padding-top-10 {
  padding-top: 3.5rem;
}

.padding-right-10 {
  padding-right: 3.5rem;
}

.padding-bottom-10 {
  padding-bottom: 3.5rem;
}

.padding-left-10 {
  padding-left: 3.5rem;
}



/* Shadow Tokens */
.shadow-down-0 {
  box-shadow: 0.0px 0.0px 0.0px 0px rgba(12, 0, 51, 0.2);
}

.shadow-down-1 {
  box-shadow: 0.0px 2.0px 4.0px 0px rgba(12, 0, 51, 0.2);
}

.shadow-down-2 {
  box-shadow: 0.0px 4.0px 8.0px 0px rgba(12, 0, 51, 0.2);
}

.shadow-down-3 {
  box-shadow: 0.0px 8.0px 16.0px 0px rgba(12, 0, 51, 0.2);
}

.shadow-down-4 {
  box-shadow: 0.0px 12.0px 24.0px 0px rgba(12, 0, 51, 0.2);
}

.shadow-down-main {
  box-shadow: 0.0px 2.0px 4.0px 0px rgba(12, 0, 51, 0.2);
}

.shadow-right-0 {
  box-shadow: 0.0px 0.0px 0.0px 0px rgba(12, 0, 51, 0.2);
}

.shadow-right-1 {
  box-shadow: 2.0px 2.0px 4.0px 0px rgba(12, 0, 51, 0.2);
}

.shadow-right-2 {
  box-shadow: 4.0px 4.0px 8.0px 0px rgba(12, 0, 51, 0.2);
}

.shadow-right-3 {
  box-shadow: 8.0px 8.0px 16.0px 0px rgba(12, 0, 51, 0.2);
}

.shadow-right-4 {
  box-shadow: 12.0px 12.0px 24.0px 0px rgba(12, 0, 51, 0.2);
}

.shadow-right-main {
  box-shadow: 2.0px 2.0px 4.0px 0px rgba(12, 0, 51, 0.2);
}

.shadow-left-0 {
  box-shadow: 0.0px 0.0px 0.0px 0px rgba(12, 0, 51, 0.2);
}

.shadow-left-1 {
  box-shadow: -2.0px 2.0px 4.0px 0px rgba(12, 0, 51, 0.2);
}

.shadow-left-2 {
  box-shadow: -4.0px 4.0px 8.0px 0px rgba(12, 0, 51, 0.2);
}

.shadow-left-3 {
  box-shadow: -8.0px 8.0px 16.0px 0px rgba(12, 0, 51, 0.2);
}

.shadow-left-4 {
  box-shadow: -12.0px 12.0px 24.0px 0px rgba(12, 0, 51, 0.2);
}

.shadow-left-main {
  box-shadow: -2.0px 2.0px 4.0px 0px rgba(12, 0, 51, 0.2);
}

.shadow-up-0 {
  box-shadow: 0.0px 0.0px 0.0px 0px rgba(12, 0, 51, 0.2);
}

.shadow-up-1 {
  box-shadow: 0.0px -2.0px 4.0px 0px rgba(12, 0, 51, 0.2);
}

.shadow-up-2 {
  box-shadow: 0.0px -4.0px 8.0px 0px rgba(12, 0, 51, 0.2);
}

.shadow-up-3 {
  box-shadow: 0.0px -8.0px 16.0px 0px rgba(12, 0, 51, 0.2);
}

.shadow-up-4 {
  box-shadow: 0.0px -12.0px 24.0px 0px rgba(12, 0, 51, 0.2);
}

.shadow-up-main {
  box-shadow: 0.0px -2.0px 4.0px 0px rgba(12, 0, 51, 0.2);
}